[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
torch = "*"
torchvision = "*"
pandas = "*"
tqdm = "*"
tensorlayerx = {git = "https://github.com/tensorlayer/tensorlayerx.git"}
tensorflow-macos = "*"
easydict = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
