[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pandas = "*"
tensorlayerx = {git = "https://github.com/tensorlayer/tensorlayerx.git"}
easydict = "*"
opencv-python = "*"
numpy = "*"
tensorflow-macos = "*"

[dev-packages]

[requires]
python_version = "3.10"
